label {
    cursor: pointer;
    padding-left: 35px;
}

.checkbox{
    opacity: 2;
    cursor: pointer;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

span {
    width: 35px;
    height: 35px;
    background-color: rgb(220, 220, 220);
    position: absolute;
    display: block;
    top: 22px;
    left: 10px;
}

label:hover ~ span{
    background-color: rgb(190, 190, 190);
}

.checkbox:checked ~ span {
    background-color: green;
}

.checkbox:checked ~ span:after {
    display: block;
}

span:after {
    content: "";
    display: none;
    position: absolute;
    left: 10px;
    top: 3px;
    width: 8px;
    height: 19px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 

.done {
    text-decoration: line-through;
}