.container {
    padding-bottom: 15px;
    max-width: 1700px;
    margin: auto;
}

form {
    display: flex;
    justify-content: space-between;
}

.input-add, button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.input-add {
    width: 80%;
}

button {
    width: 15%;
    background-color: rgb(0, 130, 255);
    color: white;
    font-weight: 900;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

